body {
  font-family: Helvetica;
  text-align: center;
}
#header {
  background-image: url("/Users/hhscheller/Documents/CodeAcademy/CodeAcademyProjects/Broadway/Resources/images/background.png");
/* Don't really know why I had to put the full path here, instead of just project path.*/
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.link{
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#split {
  background-image: url("/Users/hhscheller/Documents/CodeAcademy/CodeAcademyProjects/Broadway/Resources/images/background.png");
  color: white;
}
#bottomline {
  background-color: dimgray;
  text-align: left;
  color: white;
}
#copyright{
  font-size: 11px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
